<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>KISS Angular seed</title>
    <link href="style/app.min.css" rel="stylesheet">
    <meta name="viewport" content="initial-scale=1"/>
</head>
<body>

<div ng-view></div>

<script src="vendor.min.js"></script>
<script src="app.min.js"></script>
</body>
</html>